@using ItLabs.MBox.Application.Models
@model PagingModel<Artist>

@{
    ViewData["Title"] = "Artists";
}

@section Scripts{
    <script type="text/javascript" src="~/js/LazyLoadingRecordLabels.js"></script>
}



<div class="container-fluid">
    <ul id="recordLabelsListId" class="list-group" style="list-style:none;">
        @foreach (Artist artist in Model.PagingList)
        {
            <li class="col-sm-2 table-bordered" style="margin: 3.2%">
                <div class="row">
                    <div>
                        <div class="text-center text">
                            <h5>@artist.User.Name</h5>
                            <input id="recordlabels" type="hidden" value="@Html.Raw(Json.Serialize(new List<Artist>()))" />
                            <input id="take" type="hidden" value="@Html.Raw(Json.Serialize(Model.Take))" />
                            <input id="skip" type="hidden" value="@Html.Raw(Json.Serialize(Model.Skip))" />
                            <input id="lazyLoadingUrl" type="hidden" value="/Home/GetNextArtists" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <img class="img-circle img-responsive artistAlign artistImage" src="~/images/kendrick-lamar-getty-paul-marotta.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="text-center text">
                            @if (!artist.IsDeleted)
                            {
                                <h5>@artist.RecordLabelName</h5>
                            }
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    <button name="LoadMore" class="btn btn-primary center-block" id="loadmorebutton"> Load More</button>
</div>