
@{
    ViewData["Title"] = "ArtistDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@using ItLabs.MBox.Domain.Managers
@using ItLabs.MBox.Application.Models.ArtistsViewModel
@inject S3Manager  _s3Manager

@section Scripts{
    <script type="text/javascript" src="~/js/LazyLoadSongs.js"></script>
    <script type="text/javascript" src="~/js/FollowScript.js"></script>
}

@{
    ViewData["Title"] = "MyAccount";
}
@model ArtistDetailsViewModel
<div class="container-fluid" style="text-align: center">
    <div class="row" style="width:60%;height:150px;z-index:600;background:white;position:fixed;border-bottom: 1px solid grey;margin-top:15px">
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-block btn-default" href="javascript:history.go(-1)">Back</a>
            </div>
        </div>
        <div class="row" style="margin-left:300px">
            
            <div class="col-sm-2" style="margin-top:20px">
                <div class="row"><h1 id="followersCount">@Model.FollowersCount</h1></div>
                <div class="row"><h4>followers</h4></div>
            </div>
            <div class="col-sm-4">
                <img class="img img-circle" style="width:200px;height:200px;" src="@_s3Manager.GetImageLink(Model.Artist.PictureName)" />
            </div>
            <div class="col-sm-2" style="margin-top:20px;margin-left:-20px">
                <div class="row"><h1 id="followingCount">@Model.FollowingCount</h1></div>
                <div class="row"><h4>following</h4></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-3" style="margin-top:-30px;padding-left:70px">
                @if (Model.Artist.Id == Model.CurrentLoggedUserId)
                {
                    <button id="followButton" value="Follow" class="btn btn-primary" style="width:100px;" disabled>Follow</button>
                }
                else
                {
                    if (Model.Artist.IsFollowed(Model.CurrentLoggedUserId))
                    {
                        <button id="followButton" value="Unfollow" class="btn btn-primary" style="width:100px;">Unfollow</button>
                    }
                    else
                    {
                        <button id="followButton" value="Follow" class="btn btn-primary" style="width:100px;">Follow</button>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:170px">
        <div class="col-sm-2" style="border-right: 1px solid grey; float: left; position:fixed; height:550px; z-index:600">
            <div class="row">
                <h2>@Model.Artist.User.Name</h2>
            </div>
            <div class="row" style="margin-top:50px">
            </div>
            <div class="row" style="margin-top:10px">
                <label style="resize:none; width:250px; height: 400px" disabled>@Model.Artist.Bio</label>
            </div>
        </div>
        @Html.Hidden("artistId", Model.Artist.Id)
        <input id="songList" type="hidden" value="@Html.Raw(Json.Serialize(new List<Song>()))" />
        <input id="take" type="hidden" value="@Html.Raw(Json.Serialize(Model.PagingModelSongs.Take))" />
        <input id="skip" type="hidden" value="@Html.Raw(Json.Serialize(Model.PagingModelSongs.Skip))" />
        <input id="lazyLoadingUrl" type="hidden" value="/Home/GetNextSongs" />
        <div class="sol-sm-9" style="">
            <div class="row" style="position:relative;z-index:0">
                <div class="col-sm-10 col-sm-offset-3">
                    <ul id="songListId" class="list-group seperateLists" style="list-style:none;position:relative ;margin-top:100px;padding-left:70px">
                        @foreach (Song song in Model.PagingModelSongs.PagingList)
                        {
                            <li class="col-sm-3 card-container-song table-bordered" style="margin-right:3.2%; margin-bottom: 2%;height:240px">
                                <div>
                                    <div class="row card-song-name">
                                        <a asp-controller="Home" asp-action="SongDetails" asp-route-id="@song.Id">
                                            <div class="text-center text">
                                                @if (song.Name.Count() > 13)
                                                {
                                                    <h5>@song.Name.Substring(0, 13)...</h5>
                                                }
                                                else
                                                {
                                                    <h5>@song.Name</h5>
                                                }
                                            </div>
                                        </a>
                                    </div>
                                    <a asp-controller="Home" asp-action="SongDetails" asp-route-id="@song.Id">
                                        <div class="row card-song-img-hold">
                                            <img class="card-song-img" src="@_s3Manager.GetImageLink(song.PictureName)" />
                                        </div>
                                    </a>
                                    <div class="row out-link-social">
                                        <div class="col-sm-6">
                                            <a target=”_blank” href="@song.YouTubeLink">Youtube</a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a target=”_blank” href="@song.VimeoLink">Vimeo</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

