@{
    Layout = null;
}

@model PagingModel<Song>

@foreach (Song song in Model.PagingList)
{
    <tr class="search">
        <td>
            <form asp-area="" asp-controller="Artists" asp-action="EditSongDetails" method="post">
                <button type="submit" class="btn btn-link">
                    @Html.Hidden("songId", song.Id)
                    @song.Name
                </button>
            </form>
        </td>
        <td>@song.AlbumName</td>
        <td>@song.Genre</td>
        <td>
            <form asp-area="" asp-controller="Artists" asp-action="DeleteSong" method="post" onsubmit="return confirm('Are you sure?');">
                @Html.Hidden("songId", song.Id)
                <button type="submit" class="btn btn-danger">Delete
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </form>
        </td>
    </tr>
}