@using ItLabs.MBox.Application.Models.ArtistsViewModel
@{
    ViewData["Title"] = "NextSongs";
    Layout = null;
}
@using ItLabs.MBox.Domain.Managers
@inject S3Manager  _s3Manager
@section Scripts{
}
@model PagingModel<Song>
@foreach (Song song in Model.PagingList)
{
    <li class="col-sm-3 card-container-song table-bordered" style="width:200px;margin-right:3.2%; margin-bottom: 2%;height:240px">
        <div>
            <div class="row card-song-name">                 
                    <div class="text-center text">
                        <a asp-controller="Home" asp-action="SongDetails" asp-route-id="@song.Id">@song.ShortName</a>
                    </div>
            </div>
            <a asp-controller="Home" asp-action="SongDetails" asp-route-id="@song.Id">
                <div class="row card-song-img-hold">
                    <img class="card-song-img" src="@_s3Manager.GetImageLink(song.PictureName)" />
                </div>
            </a>
            <div class="row out-link-social">
                <div class="col-sm-6">
                    <a target=”_blank” href="@song.YouTubeLink">Youtube</a>
                </div>
                <div class="col-sm-6">
                    <a target=”_blank” href="@song.VimeoLink">Vimeo</a>
                </div>
            </div>
        </div>
    </li>
}
