@using ItLabs.MBox.Application.Models.ArtistsViewModel
@{
    ViewData["Title"] = "NextSongs";
    Layout = null;
}
@using ItLabs.MBox.Domain.Managers
@inject S3Manager  _s3Manager
@section Scripts{
    <script type="text/javascript" src="~/js/LazyLoadingRecordLabels.js"></script>
}
@model PagingModel<Song>
@foreach (Song song in Model.PagingList)
{
    <li class="col-sm-3 card-container-song table-bordered" style="width:200px;margin-right:3.2%; margin-bottom: 2%;height:240px">
        <div>
            <div class="row card-song-name">
                <form asp-controller="Home" asp-action="SongDetails">
                    <div class="text-center text">
                        <button type="submit" class="btn btn-link">
                            <h5>@song.ShortName</h5>

                            @Html.Hidden("songId", song.Id)
                        </button>
                    </div>
                </form>
            </div>
            <div class="row card-song-img-hold">
                <img class="card-song-img" src="@_s3Manager.GetImageLink(song.PictureName)" />
            </div>
            <div class="row out-link-social">
                <div class="col-sm-6">
                    <a target=”_blank” href="@song.YouTubeLink">Youtube</a>
                </div>
                <div class="col-sm-6">
                    <a target=”_blank” href="@song.VimeoLink">Vimeo</a>
                </div>
            </div>
        </div>
    </li>
}
