@using ItLabs.MBox.Application.Models;
@using ItLabs.MBox.Contracts.Entities
@using ItLabs.MBox.Domain.Managers
@inject S3Manager _s3Manager
@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<div class="container-fluid">
    <div class="row" style="margin-top:2%">
        <h4>Recently added songs</h4>
        <ul class="list-group seperateLists" style="list-style:none;">
            @if (!Model.RecentlyAddedSongs.Any())
            {
                <li>
                    <h5>More songs to be added soon.</h5>
                </li>
            }
            else
            {
                {
                    @foreach (Song song in Model.RecentlyAddedSongs)
                    {
                        <li class="col-sm-2 card-container table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
                            <div>
                                <div class="row card-song-name">
                                    <form asp-controller="Home" asp-action="SongDetails">
                                        <div class="text-center text">
                                            <button type="submit" class="btn btn-link">
                                                <h5>@song.Name</h5>
                                                @Html.Hidden("songId", song.Id)
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="row card-song-img-hold">
                                    <img class="card-song-img" src="@_s3Manager.GetImageLink(song.PictureName)" />
                                </div>
                                <div class="row out-link-social">
                                    <div class="col-sm-6">
                                        <a target=”_blank” href="@song.YouTubeLink">Youtube</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a target=”_blank” href="@song.VimeoLink">Vimeo</a>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="text-center text">
                                        <h5>@song.Artist.User.Name</h5>
                                    </div>

                                </div>
                            </div>
                        </li>
                    }
                }
            }

        </ul>
    </div>
    <hr />
    <div class="row">
        <h4>Most followed artists</h4>
        <ul class="list-group seperateLists" style="list-style:none">
            @if (!Model.MostFollowedArtists.Any())
            {
                <li>
                    <h5>More artists to be added soon.</h5>
                </li>
            }
            else
            {
                @foreach (Artist artist in Model.MostFollowedArtists)
                {
                    <li class="col-sm-2 card-container table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
                        <div>
                            <div class="row card-song-name">

                                <div class="text-center text">
                                    <h5>@artist.User.Name</h5>
                                </div>

                            </div>
                            <div class="row card-song-img-hold">
                                <img class="card-song-img img-circle" src="@_s3Manager.GetImageLink(artist.PictureName)" />
                            </div>
                            <div class="row">
                                <div>
                                    <div class="text-center text">
                                        @if (!artist.IsDeleted)
                                        {
                                            <h5>@artist.RecordLabelName</h5>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <hr />
    <div class="row">
        <h4>Recently added songs by the most followed artist</h4>
        <ul class="list-group seperateLists" style="list-style:none">
            @if (!Model.RecentlyAddedSongs.Any())
            {
                <li>
                    <h5>More artists to be added soon.</h5>
                </li>
            }
            else
            {
                @foreach (Song song in Model.RecentlyAddedSongs)
                {
                    <li class="col-sm-2 card-container table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
                        <div>
                            <div class="row card-song-name">
                                <form asp-controller="Home" asp-action="SongDetails">
                                    <div class="text-center text">
                                        <button type="submit" class="btn btn-link">
                                            <h5>@song.Name</h5>
                                            @Html.Hidden("songId", song.Id)
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="row card-song-img-hold">

                                <img class="card-song-img" src="@_s3Manager.GetImageLink(song.PictureName)" />

                            </div>
                            <div class="row out-link-social">
                                <div class="col-sm-6">
                                    <a target=”_blank” href="@song.YouTubeLink">Youtube</a>
                                </div>
                                <div class="col-sm-6">
                                    <a target=”_blank” href="@song.VimeoLink">Vimeo</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center text">
                                    <h5>@song.Artist.User.Name</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>
