@using ItLabs.MBox.Application.Models.HomeViewModels
@using ItLabs.MBox.Domain.Managers
@inject S3Manager _s3Manager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Scripts{
    <script type="text/javascript" src="~/js/SearchResultsScript.js"></script>
}

@model SearchResultsViewModel

<div class="container-fluid">
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-3" style="border-right:solid 1px black;height:750px">
            <div class="row">
                <h3>Show Results by: </h3>
            </div>
            <form asp-controller="Home" asp-action="MainSearch">
                @Html.Hidden("searchValue", Model.SearchValue)
                @Html.Hidden("selectedButton", Model.SearchType)
                <div class="radio-inline">
                    <label><input type="radio" name="showby" value="MostRelevant">Most Relevant</label>
                </div>
                <br />
                <div class="radio-inline">
                    <label><input type="radio" name="showby" value="SongName"> Song Name</label>
                </div>
                <br />
                <div class="radio-inline">
                    <label><input type="radio" name="showby" value="Lyrics"> Lyrics</label>
                </div>
                <br />
                <div class="radio-inline">
                    <label><input type="radio" name="showby" value="ArtistName"> Artist Name</label>
                </div>
                <br />
                <div class="radio-inline">
                    <label><input type="radio" name="showby" value="RecordLabelName"> Record Label Name</label>
                </div>
            </form>
        </div>
        <div class="col-sm-9" style="padding-left:50px">
            @if (Model.Results.Count == 0)
            {
                <h3>No Results Found.</h3>
            }
            else
            {
                <ul id="resultsList" class="list-group recordLabelList" style="list-style:none;">
                    @{

                        var count = Model.Results.Count;
                        for (int i = 0; i < count; i++)
                        {
                            var obj = Model.Results.Dequeue();
                            @if (obj is Artist)
                            {
                                var artist = (Artist)obj;
                                <li class="col-sm-3 card-container-artist table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
                                    <div>
                                        <div class="row card-song-name">                                            
                                            <div class="text-center text">
                                                <a form asp-controller="Home" asp-action="ArtistDetails" asp-route-id="artist.Id">
                                                    <h5>@artist.User.ShortName</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row card-song-img-hold">
                                            <img class="card-song-img img-circle" src="@_s3Manager.GetImageLink(artist.PictureName)" />
                                        </div>
                                        <div class="row">
                                            <div>
                                                @if (!artist.IsDeleted)
                                                {
                                                    <a asp-controller="Home" asp-action="RecordLabelDetails" asp-route-id="artist.RecordLabelId">
                                                        <div class="text-center text">
                                                            @if (artist.RecordLabelName?.Count() > 16)
                                                            {
                                                                <h5 style="margin-top:-7px">>@artist.RecordLabelName.Substring(0, 16)...</h5>
                                                            }
                                                            else
                                                            {
                                                                <h5 style="margin-top:-7px">@artist.RecordLabelName</h5>
                                                            }
                                                        </div>
                                                    </a>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (obj is RecordLabel)
                            {
                                var rl = (RecordLabel)obj;
                                <li class="col-sm-3 card-container-record table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
                                    <div class="row card-song-name">
                                        <div>
                                            <div class="text-center text">
                                                <div class="text-center text">
                                                    <a asp-controller="Home" asp-action="RecordLabelDetails" asp-route-id="@rl.Id">
                                                        <h5>@rl.User.ShortName</h5>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-song-img-hold">
                                        <img class="card-song-img" src="@_s3Manager.GetImageLink(rl.PictureName)" />
                                    </div>
                                </li>
                            }
                            @if (obj is Song)
                            {
                                var song = (Song)obj;
                                <li class="col-sm-3 card-container-song table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
                                    <div>
                                        <div class="row card-song-name">
                                            <div class="text-center text">
                                                <a asp-controller="Home" asp-action="SongDetails" asp-route-id="@song.Id">
                                                    <h5>@song.ShortName</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row card-song-img-hold">
                                            <img class="card-song-img" src="@_s3Manager.GetImageLink(song.PictureName)" />
                                        </div>
                                        <div class="row out-link-social">
                                            <div class="col-sm-6">
                                                <a target=”_blank” href="@song.YouTubeLink">Youtube</a>
                                            </div>
                                            <div class="col-sm-6">
                                                <a target=”_blank” href="@song.VimeoLink">Vimeo</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text-center text">
                                                <a asp-controller="Home" asp-action="ArtistDetails" asp-route-id="@song.Artist.Id">
                                                    <h5>@song.Artist.User.ShortName</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }

                        }
                    }
                </ul>
            }
        </div>

    </div>
</div>


