@using ItLabs.MBox.Application.Models.HomeViewModels
@using ItLabs.MBox.Domain.Managers
@using ItLabs.MBox.Contracts.Data_Structures
@inject S3Manager _s3Manager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Scripts{
    <script type="text/javascript" src="~/js/SearchResultsScript.js"></script>
    <script type="text/javascript" src="~/js/LazyLoadingWithLoadMore.js"></script>
}

@model SearchResultsViewModel

<div class="container-fluid">
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-3" style="border-right:solid 1px black;height:750px">
            <div class="row">
                <h3>Show Results by: </h3>
            </div>
            <input id="paginglist" type="hidden" value="@Html.Raw(Json.Serialize(new PriorityQueue<object>()))" />
            <input id="take" type="hidden" value="@Html.Raw(Json.Serialize(Model.Take))" />
            <input id="skip" type="hidden" value="@Html.Raw(Json.Serialize(Model.Skip))" />
            <input id="lazyLoadingUrl" type="hidden" value="/Home/GetNextSearchResults" />

            <form asp-controller="Home" asp-action="MainSearch">
                @Html.Hidden("searchValue", Model.SearchValue, new { @class = "searchHidden" })
                @Html.Hidden("selectedButton", Model.SearchType)
                <a asp-controller="Home" asp-action="MainSearch" asp-route-searchValue="@Model.SearchValue" asp-route-showby="MostRelevant">
                    <div class="radio-inline">
                        <input type="radio" name="showby" value="MostRelevant"><label>Most Relevant</label>
                    </div>
                </a>
                <br />
                <a asp-controller="Home" asp-action="MainSearch" asp-route-searchValue="@Model.SearchValue" asp-route-showby="SongName">
                    <div class="radio-inline">
                        <input type="radio" name="showby" value="SongName"><label> Song Name</label>
                    </div>
                </a>
                <br />
                <a asp-controller="Home" asp-action="MainSearch" asp-route-searchValue="@Model.SearchValue" asp-route-showby="Lyrics">
                    <div class="radio-inline">
                        <input type="radio" name="showby" value="Lyrics"> <label>Lyrics</label>
                    </div>
                </a>
                <br />
                <a asp-controller="Home" asp-action="MainSearch" asp-route-searchValue="@Model.SearchValue" asp-route-showby="ArtistName">
                    <div class="radio-inline">
                        <input type="radio" name="showby" value="ArtistName"> <label>Artist Name</label>
                    </div>
                </a>
                <br />
                <a asp-controller="Home" asp-action="MainSearch" asp-route-searchValue="@Model.SearchValue" asp-route-showby="RecordLabelName">
                    <div class="radio-inline">
                        <input type="radio" name="showby" value="RecordLabelName"><label> Record Label Name</label>
                    </div>
                </a>
            </form>
        </div>
        <div class="col-sm-9" style="padding-left:50px">
            @if (Model.Results.Count == 0)
            {
                <h3>No Results Found.</h3>
            }
            else
            {
                <ul id="listToAppendId" class="list-group recordLabelList" style="list-style:none;">
                    @{
                        var count = Model.Results.Count;
                        for (int i = 0; i < count; i++)
                        {
                            var obj = Model.Results.Dequeue();
                            @if (obj is Artist)
                            {
                                var artist = (Artist)obj;
                                <li class="col-sm-3 card-container-artist table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
                                    <div>
                                        <div class="row card-song-name">
                                            <div class="text-center text">
                                                <a form asp-controller="Home" asp-action="ArtistDetails" asp-route-id="@artist.Id">
                                                    <h5>@artist.User.ShortName</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <a form asp-controller="Home" asp-action="ArtistDetails" asp-route-id="@artist.Id">
                                            <div class="row card-song-img-hold">
                                                <img class="card-song-img img-circle" src="@_s3Manager.GetImageLink(artist.PictureName)" />
                                            </div>
                                        </a>
                                        <div class="row">
                                            <div>
                                                @if (!artist.IsDeleted)
                                                {
                                                    <a asp-controller="Home" asp-action="RecordLabelDetails" asp-route-id="artist.RecordLabelId">
                                                        <div class="text-center text">
                                                            @if (artist.RecordLabelName?.Count() > 16)
                                                            {
                                                                <h5 style="margin-top:-7px">>@artist.RecordLabelName.Substring(0, 16)...</h5>
                                                            }
                                                            else
                                                            {
                                                                <h5 style="margin-top:-7px">@artist.RecordLabelName</h5>
                                                            }
                                                        </div>
                                                    </a>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (obj is RecordLabel)
                            {
                                var rl = (RecordLabel)obj;
                                <li class="col-sm-3 card-container-record table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
                                    <div class="row card-song-name">
                                        <div>
                                            <div class="text-center text">
                                                <div class="text-center text">
                                                    <a asp-controller="Home" asp-action="RecordLabelDetails" asp-route-id="@rl.Id">
                                                        <h5>@rl.User.ShortName</h5>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a asp-controller="Home" asp-action="RecordLabelDetails" asp-route-id="@rl.Id">
                                        <div class="row card-song-img-hold">
                                            <img class="card-song-img" src="@_s3Manager.GetImageLink(rl.PictureName)" />
                                        </div>
                                    </a>
                                </li>
                            }
                            @if (obj is Song)
                            {
                                var song = (Song)obj;
                                <li class="col-sm-3 card-container-song table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
                                    <div>
                                        <div class="row card-song-name">
                                            <div class="text-center text">
                                                <a asp-controller="Home" asp-action="SongDetails" asp-route-id="@song.Id">@song.ShortName</a>
                                            </div>
                                        </div>
                                        <a a asp-controller="Home" asp-action="SongDetails" asp-route-id="@song.Id">
                                            <div class="row card-song-img-hold">
                                                <img class="card-song-img" src="@_s3Manager.GetImageLink(song.PictureName)" />
                                            </div>
                                        </a>
                                        <div class="row out-link-social">
                                            <div class="col-sm-6">
                                                <a target=”_blank” href="@song.YouTubeLink">Youtube</a>
                                            </div>
                                            <div class="col-sm-6">
                                                <a target=”_blank” href="@song.VimeoLink">Vimeo</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text-center text card-song-name">
                                                <a asp-controller="Home" asp-action="ArtistDetails" asp-route-id="@song.Artist.Id">@song.Artist.User.ShortName</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }

                        }
                    }
                </ul>
            }
            <div class="col-sm-10">
                <button name="LoadMore" class="btn btn-primary center-block" id="loadmorebutton"> Load More</button>
            </div>
        </div>
    </div>
</div>


