@using ItLabs.MBox.Application.Models
@using ItLabs.MBox.Domain.Managers
@inject S3Manager  _s3Manager
@model PagingModel<RecordLabel>

@{
    ViewData["Title"] = "RecordLabels";
}

@section Scripts{
    <script type="text/javascript" src="~/js/LazyLoadingRecordLabels.js"></script>
}


<div class="container-fluid">
    <ul id="recordLabelsListId" class="list-group recordLabelList" style="list-style:none;">
        @foreach (RecordLabel rl in Model.PagingList)
        {
            <li class="col-sm-2 card-container table-bordered" style="margin-right:3.2%; margin-bottom: 2%">
                <div class="row card-song-name">
                    <div>
                        <div class="text-center text">
                            <h5>@rl.User.Name</h5>
                            <input id="recordlabels" type="hidden" value="@Html.Raw(Json.Serialize(new List<RecordLabel>()))" />
                            <input id="take" type="hidden" value="@Html.Raw(Json.Serialize(Model.Take))" />
                            <input id="skip" type="hidden" value="@Html.Raw(Json.Serialize(Model.Skip))" />
                            <input id="lazyLoadingUrl" type="hidden" value="/Home/GetNextRecordLabels" />
                        </div>
                    </div>
                </div>
                <div class="row card-song-img-hold">
                        <img class="card-song-img" src="@_s3Manager.GetImageLink(rl.PictureName)" />
                </div>
            </li>
        }
    </ul>
    <button name="LoadMore" class="btn btn-primary center-block" id="loadmorebutton"> Load More</button>
</div>