<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@using ItLabs.MBox.Application.Models.RecordLabelViewModels

@section Scripts{
    <script type="text/javascript" src="~/js/LazyLoadingInTable.js"></script>
}

@{
    ViewData["Title"] = "Dashboard";
}

@model DashboardViewModel

<div class="container-fluid">
    <div class="row" style="margin-top: 25px">
        <div class="col-md-3 col-sm-3">
            <form asp-area="" asp-controller="RecordLabels" asp-action="AddNewArtist" method="get">
                <button type="submit" class="btn btn-block btn-primary" style="margin: 5px">Add New Artist</button>
            </form>
        </div>
        <div class="col-md-3 col-sm-3">
            <form asp-area="" asp-controller="" asp-action="" method="get">
                <button type="submit" class="btn btn-block btn-primary" style="margin: 5px">Add Multiple Artists</button>
            </form>
        </div>
        <div class="col-md-6 col-sm-6">
            <input class="form-control" id="search" style="margin: 5px" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>
    <div class="row" style="margin-top: 25px">
        <table class="table table-striped" id="smartTabel">
            <thead>
                <tr>
                    <th>Profile Picture</th>
                    <th>Artist Name</th>
                    <th>Artist Email</th>
                    <th>Delete Artist</th>
                </tr>
            </thead>

            <tbody id="artists">
                @foreach (Artist artist in Model.PagingList)
                {
                    <tr class="search">
                        <td>
                            @if(@artist.User.Picture == null)
                            {
                                <i class="fa fa-user-circle" style="font-size:35px"></i>
                            }
                            @artist.User.Picture
                            <input id="recordlabels" type="hidden" value="@Html.Raw(Json.Serialize(new List<RecordLabel>()))" />
                            <input id="take" type="hidden" value="@Html.Raw(Json.Serialize(Model.Take))" />
                            <input id="skip" type="hidden" value="@Html.Raw(Json.Serialize(Model.Skip))" />
                            <input id="lazyLoadingUrl" type="hidden" value="/RecordLabels/GetNextArtists" />
                        </td>
                        <td>@artist.User.Name</td>
                        <td>@artist.User.Email</td>
                        <td>
                            <button class="btn btn-danger">
                                Delete <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>