@using ItLabs.MBox.Application.Models.AdminViewModels


@section Scripts{
    <script type="text/javascript" src="~/js/tableSearch.js"></script>
    <script type="text/javascript" src="~/js/LazyLoadingInTable.js"></script>
}

@{
    ViewData["Title"] = "Index";
}

@model DashboardViewModel

<div class="container-fluid">
    <div class="row" style="margin-top: 25px">
        <div class="col-md-4 col-sm-4">
            <form asp-area="" asp-controller="Admin" asp-action="AddNewRecordLabel" method="get">
                <button type="submit" class="btn btn-block btn-primary" style="margin: 5px">Add New Record Label</button>
            </form>

        </div>
        <div class="col-md-8 col-sm-8">
            <input class="form-control" id="search" style="margin: 5px" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>
    <div class="row" style="margin-top: 25px">
        <table class="table table-striped" id="smartTabel">
            <thead>
                <tr>
                    <th>Record Label Name</th>
                    <th>Record Label E-mail Address</th>
                    <th>Number of Artists</th>
                    <th>Delete Record Label</th>
                </tr>
            </thead>

            <tbody id="recordLabelsList">
                @foreach (RecordLabel rl in Model.RecordLabels)
                {
                    <tr class="search">
                        <td>
                            @rl.User.Name
                            <input id="recordlabels" type="hidden" value="@Html.Raw(Json.Serialize(new List<RecordLabel>()))" />
                            <input id="take" type="hidden" value="@Html.Raw(Json.Serialize(Model.Take))" />
                            <input id="skip" type="hidden" value="@Html.Raw(Json.Serialize(Model.Skip))" />
                        </td>
                        <td>@rl.User.Email</td>
                        <td>@rl.RecordLabelArtists.Count</td>
                        <td>
                            <button class="btn btn-danger">
                                Delete <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>