@using ItLabs.MBox.Application.Models
@model PagingModel<RecordLabel>

@section Scripts{
    <script type="text/javascript" src="~/js/LazyLoadingInTable.js"></script>
    <script type="text/javascript" src="~/js/DeleteRecordLabel.js"></script>
}

@{
    ViewData["Title"] = "Index";
}



<div class="container-fluid">
    <div class="row" style="margin-top: 25px">
        <div class="col-md-3 col-sm-3">
            <form asp-area="" asp-controller="Admins" asp-action="AddNewRecordLabel" method="get">
                <button type="submit" class="btn btn-block btn-primary" style="margin: 5px">Add New Record Label</button>
            </form>
        </div>
        <div class="col-md-9 col-sm-9" style="margin-top: 5px">
            <div class="row">
                <form id="searchForm" asp-area="" asp-controller="Admins" asp-action="Search" method="post">
                    <div class="col-md-9 col-sm-9">
                        @Html.TextBox("search", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <input id="searchButton" type="submit" value="Search" class="btn btn-default btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px">
        <table class="table table-striped" id="smartTabel">
            <thead>
                <tr>
                    <th>Record Label Name</th>
                    <th>Record Label E-mail Address</th>
                    <th>Number of Artists</th>
                    <th>Delete Record Label</th>
                </tr>
            </thead>

            <tbody id="recordLabelsList">
                @foreach (RecordLabel rl in Model.PagingList)
                {
                    <tr class="search">
                        <td>
                            @rl.User.Name
                            <input id="recordlabels" type="hidden" value="@Html.Raw(Json.Serialize(new List<RecordLabel>()))" />
                            <input id="take" type="hidden" value="@Html.Raw(Json.Serialize(Model.Take))" />
                            <input id="skip" type="hidden" value="@Html.Raw(Json.Serialize(Model.Skip))" />
                            <input id="lazyLoadingUrl" type="hidden" value="/Admins/GetNextRecordLabels" />
                        </td>
                        <td>@rl.User.Email</td>
                        <td>@rl.RecordLabelArtists.Count</td>
                        <td>
                            <form asp-area="" asp-controller="Admins" asp-action="DeleteRecordLabel" method="post" onsubmit="return confirm('Are you sure');">
                                @Html.Hidden("recordLabelId", rl.User.Id)
                                <button type="submit" class="btn btn-danger" >Delete
                                    <i class="glyphicon glyphicon-trash"></i></button>                             
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>