@using ItLabs.MBox.Contracts.Enums
@using ItLabs.MBox.Application.Models.ArtistsViewModel
@using ItLabs.MBox.Contracts.Interfaces
@using ItLabs.MBox.Domain.Managers
@inject S3Manager  _s3Manager
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
@inject UserManager<ApplicationUser> UserManager
@inject SongManager _songManager
@{
    ViewData["Title"] = "AddNewSong";
    var user = await UserManager.GetUserAsync(User);
    int charactersLeft = 0;
    if (string.IsNullOrWhiteSpace(Model.SongLyrics))
    {
        charactersLeft = 10000;
    }
    else
    {
        charactersLeft = 10000 - Model.SongLyrics.Length;
    }
}
@section Scripts{
    <script type="text/javascript" src="~/js/dateRestriction.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/EditDetailsOnButtonClick.js"></script>
    <script type="text/javascript" src="~/js/characterCounter.js"></script>
}
@model AddNewSongViewModel
<div class="container-fluid">
    <hr />
    <div class="row" style="margin: 15px">
        <div class="col-md-4 col-sm-4">
            <form asp-area="" asp-controller="Artists" asp-action="Index" method="post">
                <button type="submit" class="btn btn-block btn-default">Back</button>
            </form>
        </div>
    </div>
    <div class="row" style="margin: 15px">
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <form asp-controller="Artists" asp-action="EditSongName" id="editSongName">
                        @Html.Hidden("songId", Model.SongId)
                        <input asp-for="SongName" class="form-control" value=@Model.SongName id="songName" name="songName" disabled>
                        <span asp-validation-for="SongName" class="text-danger"></span>
                    </form>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-default edit editDetails" id="editName" onclick="editDetails('songName', 'editName', 'saveName', 'cancelName')">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-success save saveDetails" id="saveName" type="submit" form="editSongName">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-danger cancelDetails" id="cancelName" onclick="cancelEditiong('songName', 'editName', 'saveName', 'cancelName')">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <img class="img-responsive" style="height:350px; width:500px" src="@_s3Manager.GetImageLink(Model.Picture)">
            </div>
            <div class="row">
                <form asp-controller="Artists" asp-action="ChangeSongImage" method="post" enctype="multipart/form-data">
                    @Html.Hidden("songId", Model.SongId)
                    <div class="col-sm-8 col-md-8">
                        <p>Change song image:</p>
                        <input class="btn-default btn" type="file" id="uploadedFiles" name="uploadedFiles" accept=".jpg,.jpeg,.png">
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 col-md-4" style="margin-top:35px; ">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
            <div class="row" style="margin-bottom: 15px; margin-top: 15px">
                <label>By: @user.Name</label>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <label>Album Name:</label>
                </div>
                <div class="col-md-6 col-sm-6">
                    <form asp-controller="Artists" asp-action="EditSongAlbum" id="editSongAlbum">
                        @Html.Hidden("songId", Model.SongId)
                        <input asp-for="AlbumName" class="form-control" value=@Model.AlbumName id="albumName" name="songAlbum" disabled>
                        <span asp-validation-for="AlbumName" class="text-danger"></span>
                    </form>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-default edit editDetails" id="editAlbum" onclick="editDetails('albumName', 'editAlbum', 'saveAlbum', 'cancelAlbum')">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-success saveDetails" id="saveAlbum" type="submit" form="editSongAlbum">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-danger cancelDetails" id="cancelAlbum" onclick="cancelEditiong('albumName', 'editAlbum', 'saveAlbum', 'cancelAlbum')">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px">
                <div class="col-md-3 col-sm-3" style="margin-top: 5px">
                    <label>Genre:</label>
                </div>
                <div class="col-md-5 col-sm-5">
                    <form asp-controller="Artists" asp-action="EditSongGenre" method="post" id="songGenre">
                        @Html.Hidden("songId", Model.SongId)
                        @Html.DropDownListFor(x => x.Genres, new SelectList(Enum.GetValues(typeof(Genres))), Model.GenreName, new { @class = "form-control", disabled = "disable", id = "genre", name = "songGenre" })
                        <span asp-validation-for="Genres" class="text-danger"></span>
                    </form>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-default edit editDetails" id="editGenre" onclick="editDetails('genre', 'editGenre', 'saveGenre', 'cancelGenre')">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-success saveDetails" id="saveGenre" type="submit" form="songGenre">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-danger cancelDetails" id="cancelGenre" onclick="cancelEditiong('genre', 'editGenre', 'saveGenre', 'cancelGenre')">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <label>Release Date:</label>
                </div>
                <div class="col-md-5 col-sm-5">
                    <form asp-controller="Artists" asp-action="editSongReleaseDate" method="post" id="songReleaseDate">
                        @Html.Hidden("songId", Model.SongId)
                        @Html.TextBox("ReleaseDate", Model.ReleaseDate.ToShortDateString(), new { @class = "form-control dateOfRelease", id= "releaseDate", name= "releaseDate", disabled = "disable" })
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </form>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-default edit editDetails" id="editReleaseDate" onclick="editDetails('releaseDate', 'editReleaseDate', 'saveReleaseDate', 'cancelReleaseDate')">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-success saveDetails" id="saveReleaseDate" type="submit" form="songReleaseDate">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-danger cancelDetails" id="cancelReleaseDate" onclick="cancelEditiong('releaseDate', 'editReleaseDate', 'saveReleaseDate', 'cancelReleaseDate')">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-md-6 col-sm-6">
                    <div class="row" style="text-align: center">
                        <a target="_blank" href=@Model.YoutubeLink id="youtubeLink">Youtube</a>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-default edit editDetails" id="editYoutube" onclick="editLink('youtubeLink', 'youtubeLinkUrl', 'editYoutube', 'saveYoutube', 'cancelYoutube')">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-success saveDetails" id="saveYoutube" type="submit" form="editYoutubeLink">
                                <i class="glyphicon glyphicon-ok"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-danger cancelDetails" id="cancelYoutube" onclick="cancelEditiongLink('youtubeLink', 'youtubeLinkUrl', 'editYoutube', 'saveYoutube', 'cancelYoutube')">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row" style="padding: 8px">
                        <form asp-controller="Artists" asp-action="EditYoutubeLink" id="editYoutubeLink" method="post">
                            @Html.Hidden("songId", Model.SongId)
                            <input asp-for="YoutubeLink" class="form-control" value=@Model.YoutubeLink id="youtubeLinkUrl" name="youtubeLink">
                            <span asp-validation-for="YoutubeLink" class="text-danger"></span>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6" style="border-left: solid 2px #d3d3d3">
                    <div class="row" style="text-align: center">
                        <a target="_blank" href=@Model.VimeoLink id="vimeoLink">Vimeo </a>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-default edit editDetails" id="editVimeo" onclick="editLink('vimeoLink', 'vimeoLinkUrl', 'editVimeo', 'saveVimeo', 'cancelVimeo')">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-success saveDetails" id="saveVimeo" type="submit" form="editVimeoLink">
                                <i class="glyphicon glyphicon-ok"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-danger cancelDetails" id="cancelVimeo" onclick="cancelEditiongLink('vimeoLink', 'vimeoLinkUrl', 'editVimeo', 'saveVimeo', 'cancelVimeo')">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row" style="padding: 8px">
                        <form asp-controller="Artists" asp-action="EditVimeoLink" method="post" id="editVimeoLink">
                            @Html.Hidden("songId", Model.SongId)
                            <input asp-for="VimeoLink" name="vimeoLink" class="form-control" value=@Model.VimeoLink id="vimeoLinkUrl">
                            <span asp-validation-for="VimeoLink" class="text-danger"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6" style="border-left: solid 2px #d3d3d3">
            <div class="row">
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-default edit editDetails" id="editLyrics" onclick="editDetails('songLyrics', 'editLyrics', 'saveLyrics', 'cancelLyrics')">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-success saveDetails" id="saveLyrics" type="submit" form="editSongLyrics">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-danger cancelDetails" id="cancelLyrics" onclick="cancelEditiong('songLyrics', 'editLyrics', 'saveLyrics', 'cancelLyrics')">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </div>
            <div class="row" style="padding: 12px;">
                <form asp-controller="Artists" asp-action="EditSongLyrics" method="post" id="editSongLyrics">
                    @Html.Hidden("songId", Model.SongId)
                    <textarea class="form-control characterCounter" maxlength="10000" style="margin-top: 5px; height: 550px; resize: none" name="lyrics" id="songLyrics" disabled>@Model.SongLyrics</textarea>
                    <span asp-validation-for="SongLyrics" class="text-danger"></span>
                    <p style="margin-top: 10px" id="text-counter">Characters left: <span id="counter">@charactersLeft</span></p>
                </form>
            </div>
        </div>
    </div>
</div>