<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@using ItLabs.MBox.Domain.Managers
@inject S3Manager  _s3Manager
@inject UserManager<ApplicationUser> UserManager
@inject ArtistManager _artistManager
@section Scripts{
    <script type="text/javascript" src="~/js/EditDetailsOnButtonClick.js"></script>
}

@{
    ViewData["Title"] = "MyAccount";
    var user = await UserManager.GetUserAsync(User);
    var artist = _artistManager.GetOne(x => x.Id == user.Id);
}
@model MyAccountViewModel
<div class="container-fluid" style="text-align: center">
    <div class="row">
        <div class="col-md-2 col-sm-2">
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="row" style="margin: 20px;">
                <img class="img-circle img-responsive center-block" style="height:350px; width:500px" src="@_s3Manager.GetImageLink(user.PictureName)">
            </div>
            <div class="row" style="margin:20px;">
                <form asp-controller="Artists" asp-action="ChangePicture" method="post" enctype="multipart/form-data">
                    <div class="col-sm-8 col-md-8">
                        <p>Change profle picture:</p>
                        <input class="btn-default btn" type="file" id="uploadedFiles" name="uploadedFiles" accept=".jpg,.jpeg,.png">
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 col-md-4" style="margin-top:35px; ">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
            <div class="row" style="margin: 20px">
                <div class="col-md-8 col-sm-8">
                    <form asp-controller="Artists" asp-action="EditName" method="post" id="editName">
                        @Html.Hidden("artistlId", artist.Id)
                        <input asp-for="Name" class="form-control" value="@user.Name" id="ArtistName" name="artistName" disabled>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </form>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-default edit editDetails" id="editArtistName" onclick="editDetails('ArtistName', 'editArtistName', 'saveArtistName', 'cancelArtistName')">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-success save saveDetails" id="saveArtistName" type="submit" form="editName">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-danger cancelDetails" id="cancelArtistName" onclick="cancelEditiong('ArtistName', 'editArtistName', 'saveArtistName', 'cancelArtistName')">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </div>
            <div class="row" style="margin: 20px">
                <div class="col-md-3 col-sm-3" style="margin-top: 5px">
                    <label>Date of Birth:</label>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input class="form-control" type="date" />
                </div>
            </div>
            <div class="row" style="margin: 20px">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <label>Artist Bio</label>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button class="btn btn-default edit editDetails" id="editBio" onclick="editDetails('bio', 'editBio', 'saveBio', 'cancelBio')">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button class="btn btn-success save saveDetails" id="saveBio" form="changeBio" type="submit">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button class="btn btn-danger cancelDetails" id="cancelBio" onclick="cancelEditiong('bio', 'editBio', 'saveBio', 'cancelBio')">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <form asp-controller="Artists" asp-action="EditBio" method="post" id="changeBio">
                        @Html.Hidden("artistId", artist.Id)
                        @Html.TextArea("ArtistBio", artist.Bio, new { @class = "form-control", id = "bio", name = "artistBio", maxlength = "350", style = "margin-top: 5px; height: 200px; text-align: center; resize: none", disabled = "disabled" })
                        <span asp-validation-for="ArtistBio" class="text-danger"></span>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
    </div>
</div>
